<!--
  Generated template for the KidInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="danger">
      <ion-title>Kidz Tokenz</ion-title>
  
      <ion-buttons end>
        <button ion-button icon-only (click)="editKid(oKid)">
          <ion-icon name="md-options"></ion-icon>
        </button>
        <button ion-button icon-only (click)="deleteKid(oKid)">
            <ion-icon name="trash"></ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
  
    <h2>{{oKid.name}}</h2>
  
    <div class="child-photo" text-center>
      <img  src="{{oKid.kidMonster}}" class="child-background-image">
     
    </div>
  
    <ion-item-group>
  
        <ion-item class="child-item" (click)="changeToken()">
            <ion-thumbnail item-right>
                <img src="{{oKid.srcTokenNumbers}}">
              </ion-thumbnail>
            <ion-thumbnail item-left>
              <img src="{{oKid.tokenType}}">
            </ion-thumbnail>
            
          </ion-item>

     
          
  
      <ion-item class="child-item">
        <ion-col text-center>
          <button ion-button color="danger" type="button" full round large (click)="rateApp()">Enjoying Kidz Tokenz ??</button>
        </ion-col>
      </ion-item>
  
      <ion-item-divider color="danger" class="task-divider">I am working for:</ion-item-divider>
      <ion-list>
        <ion-item *ngFor="let item of oKid.tasks" (click)="itemSelected(item)" class="child-item">
          <ion-thumbnail item-left>
            <img *ngIf="isGuestUser" src="{{item.taskimage}}">
            <img *ngIf="!isGuestUser" src="{{item.taskPhoto}}">
          </ion-thumbnail>
          <h2>
            {{item.name}}
          </h2>
          <ion-badge color="secondary" *ngIf="!item.negativeReinforcement">{{item.score}} good tokenz </ion-badge>
          <ion-badge color="danger" *ngIf="item.negativeReinforcement">{{item.score}} bad tokenz </ion-badge>
          <ion-icon name='ios-arrow-forward' item-right></ion-icon>
  
        </ion-item>
  
      </ion-list>
    </ion-item-group>
    <ion-fab right bottom>
      <button ion-fab color="danger" (click)="addNewTask(oChild.childId)">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
  </ion-content>
  